

/*I learned this researching on freecodecamp and stack overflow:
 background-image: url(images/webbackground.jpg); Adds image to background of body
	background-size: cover; sets the image to cover the viewport of body
	background-repeat: no-repeat; keeps the image from repeating along the body
	background-position: center center; centers the image vertically and horizontally on body
*/

body {
	background-image: url(images/webbackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/* Set class for h1 tags
text-align: center; aligns my text in the center of page
	font-family: Copperplate, Arial, Helvetica, sans-serif; leads with copperplate for the font and provides fallbacks if unavailable. I know copperplate is not sans-serif but I like the look and would only take sans-serif if its not available.
	font-size: 40px; Sets font size to 40px. Most important heading so biggest.
	text-shadow: 3px 3px 1px darkgray; Places shadow behind text with a 3px x-shift and y-shift and a 1px blur radius, color is dary grey.
*/

.maintitle {
	text-align: center;
	font-family: Copperplate, Arial, Helvetica, sans-serif;
	font-size: 40px;
	text-shadow: 3px 3px 1px darkgray;
}

/* For h2 tags
text-align: center; sets center alignment for h2
	font-family: Copperplate, Arial, Helvetica, sans-serif; leads with copperplate then fallbacks if unavailable.
	font-size: 30px; sets font size to 30px, second most important heading
	text-decoration: underline; places an underline under h2
	text-shadow: 1px 1px 0px #5E574D; Places shadow behind text with a 1px x-shift and y-shift and a 0px blur radius, color is dary brownish grey.
*/

h2 {
	text-align: center;
	font-family: Copperplate, Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-decoration: underline;
	text-shadow: 1px 1px 0px #5E574D;
}

/* aligns p with parent elements of h2 to the center, was effecting my form before so this was my solution to prevent it 
*/
h2 p {
	text-align: center;
}

/*
text-align: center; centers text
	font-family: Arial, Helvetica, sans-serif; Arial is the preffed font for h3 easier to read and fallbacks in place.
	font-size: 18px; 3rd most important heading so not as big as h1 and h2 but bigger than <p> text.
	text-decoration: none; no decorations wanted or needed.
*/
h3 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration: none;
}

/*font-family: Arial, Helvetica, sans-serif; preferred fonts with fallbacks
*/
p {
	font-family: Arial, Helvetica, sans-serif;
}

/*id was created for instagram button taken from font awesome to keep styling out of html, set to black. 
*/
#instagram {
	color: #000000;
}

/* color of all links set to black to have a cleaner look.
*/

a {
	color: #000000;
}

/* hovering over link will show a quick color transition of 0.3 seconds to orange to indicate it is a link along with the pointer.
*/

a:hover {
	transition: color 0.3s;
	color:#ff6347;
}



/* The following section is associated with the home page index.html page*/

/* centered-image { created class to style images on home page all at once.
	display: block; changed to block element to help with spacing
    margin-left: auto; this allowed me to center the images by making margins equal on both sides.
    margin-right: auto; this allowed me to center the images by making margins equal on both sides.
    width: 50%; photos were to large so I reduced them to 50% of their size
    border-radius: 15px; rounded the edges of the photos border for a cleaner look
    }
 */

.centered-image {
	display: block; /* Change to block */
    margin-left: auto; /* Auto margin for left */
    margin-right: auto; /* Auto margin for right */
    width: 50%; /* Optional: Set a width */
    border-radius: 15px;
}


/* The following section associated with the navigation bar on all pages. */


/* list-style: none; used to get rid of bullet points in list
    display: flex; changed to flex to contain nav
    justify-content: space-between; creating even space between the flex objects
    flex-shrink: 0; prevents it from shrinking
    flex-grow: 1; allowing it to take up available space
    font-family: Copperplate, Arial, Helvetica, sans-serif; preferred font and fallbacks for nav
    border-style: double; I like the double border style and the rim look it gives
    border-radius: 20px; Rounded edges for the nav bar for a smoother look
    background-color: #5E574D; The contrast of the darkish brown gray is a good contrast for the white font and light background.
	padding: 15px 20px; padding added for space within the border
 */

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 1;
    font-family: Copperplate, Arial, Helvetica, sans-serif;
    border-style: double;
    border-radius: 20px;
    background-color: #5E574D;
	padding: 15px 20px;
}

/* Was having issues with centering so letting the browser handle the margins seemed to work for any li items nested in .nav-links*/

.nav-links li {
    margin-left: auto;
    margin-right: auto;
}

/* nested a links in .nav-links only ones effected
text-decoration: none; no decorations or lines
    color: white; set font color to white
    font-size: 18px; 18px to be noticeable but not too big
    transition: color 0.3s; color transition with 0.3 second transition 
 */

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

/*Changes color to orange on hover with transition of 0.3 seconds
*/
.nav-links a:hover {
    color: #ff6347;
}

/* Navigation CSS ends here */


/* The following section section is associated with the Let's Connect! "contactus.html"*/

/*
form { lets connect submission form
font-family: Arial, Helvetica, sans-serif; preferred font with fallbacks
	font-size: 14px; readable but not overbearing size
	background-color: #fdf0d5; complimentary color that is not too dark for text
	box-shadow: 3px 3px 10px black; 3px x-shift and y-shift with 10px blur radius and black color for a shadow on form box
	border-style: double; double border style looks smooth with edge around form, a nice rim addition
	padding: 10px; padding around the form for some space to breathe
	width: 350px; this width allows it to not be too wide but not too skinny in the center of the page
	border-radius: 4px; rounding the edges for a smoother look
	margin-left: auto; this allows the form to sit in the center of the page with both margin-left and margin-right automatically setting the margins
	margin-right: auto;this allows the form to sit in the center of the page with both margin-left and margin-right automatically setting the margins
	}
*/

form {
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #fdf0d5;
	box-shadow: 3px 3px 10px black;
	border-style: double;
	padding: 10px;
	width: 350px;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
}

/*
label { label for the form entry boxes
   width: 80px; this allows the text in the labels to not be scrunched up but also not take up too much uncessary space
   display: block; this allows them to act as a block element and not be right next to the entry box like an in-line
   text-align: left; aligning label text to the left
   margin-bottom: 10px; putting some space between the bottom of each label item
}
*/

label {
   width: 80px;
   display: block;
   text-align: left;
   margin-bottom: 10px;
}

/*
input[type=text], input[type=email] { selectors for text inputs and email inputs
   
   box-sizing: border-box; made the box sizing width and height easier to manage.
   width: 350px; set to the width of the box to reduce visual space
   padding: 10px;  padding all around for some extra room inside 
   border: 1px solid lightgray; small solid light gray border around input boxes for contrast
   border-radius: 4px; rounding the edges for a smoother look
}
*/

input[type=text], input[type=email] {
   
   box-sizing: border-box; 
   width: 350px;
   padding: 10px;   
   border: 1px solid lightgray;
   border-radius: 4px;
}

/*
textarea { selector message box
   
   box-sizing: border-box; made the box sizing width and height easier to manage.
   width: 350px; set to the width of the box to reduce visual space
   padding: 10px;  padding all around for some extra room inside 
   border: 1px solid lightgray; small solid light gray border around input boxes for contrast
   border-radius: 4px; rounding the edges for a smoother look
}
*/

textarea {
   
   box-sizing: border-box; 
   width: 350px;
   padding: 10px;   
   border: 1px solid lightgray;
   border-radius: 4px;

}

/*
input[type=submit] { submit button on form
   
   width: 200px; big enough to see but not take up too much space in form
   background-color: #5E574D; same brownish gray of nav bar to match color scheme
   color: white; white text on the inside for contrast
   padding: 15px; padding all around for space in area
   margin: 10px 0; sets top and bottom margin to 10 px while leaving left and right at 0px
   border: none; no visible border or border style
   border-radius: 4px; rounded edges to match smooth look
   cursor: pointer; pointer to let visitors know it is clickable for submission
}
*/

input[type=submit] {
   
   width: 200px;
   background-color: #5E574D;
   color: white;
   padding: 15px;
   margin: 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

/*
.submitbutton { created class for div containing submit input
	display: flex;
	justify-content: center; allowed me to center button in the middle of the form
}
*/

.submitbutton {
	display: flex;
	justify-content: center;
}


/* Let's Connect! "contactus.html" CSS ends here */

/*The following section is related to the Navigator's Choice page "recommended.html" */

/*.tablerecs {I originally planned to make more tables but I decided against so making a class was not necessay

	font-family: Arial, Helvetica, sans-serif; preferred fonts with fallbacks
	font-size: 30px; bigger font because of this being the main and only content on the page for the most part
	text-align: center; centered aligned text
	border: 3px solid; #5E574D; 3px thick solid border with dark grayish brown color to match scheme
	border-style: double; double border to match theme
	border-radius: 15px; round border to match theme
	margin-left: auto; centering the table with margin left and right auto on page
	margin-right: auto; centering the table with margin left and right auto on page
	padding: 15px; padding for space around area
}
*/

.tablerecs {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
	border: 3px solid; #5E574D;
	border-style: double;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;

}

/*
.tablerecs a {
	transition: color 0.3s; adjusting color transition speed to 0.3 seconds for .tablerecs a links
}
*/

.tablerecs a {
	transition: color 0.3s;
}

/*
.tablerecs a:hover {
    color: #ff6347; Change color of links to orange when hovered over
}
*/
.tablerecs a:hover {
    color: #ff6347;
}

/*
.tablerecs th, td { for th and td children of .tablerecs
    border: 1px solid #5E574D; borders around cells
    border-radius: 15px; rounded edges for smooth matched look
    padding: 12px; padding inside of cell
    text-align: center; text aligned center in cell
}
*/

.tablerecs th, td {
    border: 1px solid #5E574D;
    border-radius: 15px;
    padding: 12px; 
    text-align: center; 
}


/*Navigator's Choice page "recommended.html" CSS ends here */

/*
footer {
	text-align: center; footer text centered
	font-family: Arial, Helvetica, sans-serif; preferred font with fallbacks
	font-size: 10px; small font due to being least important info
	padding-top: 15px; padding around footer to provide space
}
*/

footer {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-top: 15px;
}